<div class="row border">
    <div class="col-md-4 p-2 text-center fs-5 fw-bold">
      <img src="../../../../assets/images/medlablogo.jpeg" alt="" height="50" width="50">
    <a class="text-decoration-none" >Medlab</a>
</div>
    <div class="col-md-7">
        <ul class="nav d-flex justify-content-end p-2 headerfont text-center fw-bolder">
            <li class="nav-item">
              <a class="nav-link">About us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link">Login</a>
            </li>
          
          </ul>
    </div>
</div>






