<div class="container w-85">
    <div class="row">
        <ul class="nav curser justify-content-between w-75 m-auto">
            <li class="nav-item">
                <a class="nav-link text-dark p-2 ">
                    <img class=" d-block  m-auto" src="../../../assets/images/doctor.svg" alt="" width="80" height="80">
                    <span class="mt-1">Talk To Doctor</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark p-2 ">
                    <img class=" d-block  m-auto" src="../../../assets/images/medicine.svg" alt="" width="80"
                        height="80">
                    <span class="mt-1">Medicines</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-dark p-2 ">
                    <img class=" d-block  m-auto" src="../../../assets/images/consulation.svg" alt="" width="80"
                        height="80">
                    <span class="mt-1">Book Dr. Appointment</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark p-2 ">
                    <img class=" d-block  m-auto" src="../../../assets/images/labtest.svg" alt="" width="80"
                        height="80">
                    <span class="">Lab tests and Packages</span>
                </a>
            <li class="nav-item">
                <a class="nav-link text-dark p-2 ">
                    <img class=" d-block  m-auto" src="../../../assets/images/surgery.svg" alt="" width="80"
                        height="80">
                    <span class="mt-1">Surgery</span>
                </a>

            </li>
            <li class="nav-item">
                <a class="nav-link text-dark p-2 ">
                    <img class=" d-block  m-auto" src="../../../assets/images/insurance.jpg" alt="" width="80"
                        height="80">
                    <span class="mt-1">Insurance</span>
                </a>
            </li>

        </ul>
    </div>
    <div class="container w-75 border p-2 mt-1 py-3 shadow-sm rounded-pill">

        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link text-dark heading">Consult with Top Doctors,24*7</a>
            </li>
            <li class="nav-item border rounded-pill px-5">
                <a class="nav-link ">Start Consultation</a>
            </li>
        </ul>
    </div>
    <div class="container w-75 mt-4 p-2">
        <div id="carouselExampleIndicators" class="carousel slide">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="https://views.medibuddy.in/homePageBanners/diagonistic_centers.png"
                            class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="https://views.medibuddy.in/surgeryBanners/surgery02.png" class="d-block w-100"
                            alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="https://views.medibuddy.in/surgeryBanners/surgery01.png" class="d-block w-100"
                            alt="...">
                    </div>
                </div>
            </div>
            <div class="container w-85 mt-3 p-2 shadow">
                <img src="https://views.medibuddy.in/dynamic-banner/medibuddyHomeFirstFoldWebABHA.svg" alt="Abha banner"
                    style="width: 100%;">
            </div>
            <div class="row  d-flex w-85 p-2 mt-2">
                <div class="col-md-4 ">
                    <h2 class="gradient-text">Give The Care Your Family Deserves</h2>
                    <p class="heading ">Unlimited Consultations with top Doctors for 6 family members in 22+
                        specialities and 16 languages</p>
                    <button class=" bg-warning btn"><span class="text-dark">Buy Medlab
                            Gold<i class="bi bi-arrow-right"></i></span></button>
                </div>
                <div class="col-md-4 mt-4">
                    <div class="card card2 p-2 mt-6 shadow" style="width: 14rem;">
                        <img src="../../../assets/Card images/card1.svg" class="card-img-top" alt="..." height="100"
                            width="100">
                        <div class="card-body">
                            <p class="gradient-text">Unlimited Free Consultations</p>
                            <p class="card-text">Get unlimited free consultations with <strong>all doctors 24x7</strong>
                            </p>
                        </div>
                    </div>
                    <div class="card card2 p-2 mt-2 shadow" style="width: 14rem;">
                        <img src="../../../assets/Card images/family.svg" class="card-img-top" alt="..." height="100"
                            width="100">
                        <div class="card-body">
                            <p class="gradient-text">Free For Full Family</p>
                            <p class="card-text">Free consultations for upto <b>6 family members</b></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 ">
                    <div class="card card2 p-2 mt-4 shadow" style="width: 14rem;">
                        <img src="../../../assets/Card images/free-health.svg" class="card-img-top" alt="..." height="100"
                            width="100">
                        <div class="card-body">
                            <p class="gradient-text">Free For All Health Problems</p>
                            <p class="card-text">Consult with any doctor from <strong>18 departments</strong>at any time
                            </p>
                        </div>
                    </div>
                    <div class="card card2 p-2 mt-2 shadow" style="width: 14rem;">
                        <img src="../../../assets/Card images/video-consultation.svg" class="card-img-top" alt="..."
                            height="100" width="100">
                        <div class="card-body">
                            <p class="gradient-text">Video Consultations</p>
                            <p class="card-text">Video Consults with top doctors <b>24x7</b></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container w-85 mt-2">
                <h3 class="text">Insurance</h3>
                <h6 class="text">Get access to all your Health insurance services - View Policy, Initiate and Track
                    Claims, Go
                    Cashless with network hospitals and intimate Hospitalization</h6>
            </div>
            <div class="container w-85 mt-4 d-flex justify-content-between">
                <div class="card" style="width: 12rem;">
                    <div class="card-body">
                        <h5 class="card-title">E-card</h5>
                        <p class="card-text">Get e-cards for you and your family members</p>
                        <img src="../../../assets/Card images/ecard.svg" alt="">
                    </div>
                </div>
                <div class="card" style="width: 12rem;">
                    <div class="card-body">
                        <h5 class="card-title">Claims</h5>
                        <p class="card-text">Track your code in real-time</p>
                        <img src="../../../assets/Card images/claims.svg" alt="">
                    </div>
                </div><div class="card" style="width: 12rem;">
                    <div class="card-body">
                        <h5 class="card-title">Network Hospitals</h5>
                        <p class="card-text">Search for the nearest hospital to go for cashless</p>
                        <img src="../../../assets/Card images/network-hospitals.svg" alt="">
                    </div>
                </div><div class="card" style="width: 12rem;">
                    <div class="card-body">
                        <h5 class="card-title">Empanel Hospitals</h5>
                        <p class="card-text">Become a part of network hospitals</p>
                        <img src="../../../assets/Card images/EmpanelHosp.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="container w-85 mt-3 p-2 shadow">
                <img src="../../../assets/Card images/medibuddyHomeThirdFoldWebsurgery.svg" alt="Abha banner"
                    style="width: 100%;">
            </div>